* {
    box-sizing: border-box;
    margin: 0;
}

main {
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://scontent.ftgz2-1.fna.fbcdn.net/v/t31.18172-8/15289232_607285782790937_9113981149726877807_o.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0327a3&_nc_eui2=AeHjSPXaLQKQSBIGhiT8D-sN5LkTU1xJPp_kuRNTXEk-n1CyPdEW9kzpHPP8a-HX-VlqLGHpf806P0ZxN-bWevpA&_nc_ohc=-urNzk4avI8Q7kNvgEOBZft&_nc_ht=scontent.ftgz2-1.fna&oh=00_AYCLIUuljFz1i_6wU_86OKAQgR938nUVenXC0i8_7RB5Ig&oe=66D514AC);
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: flex;
    flex-direction: row;
    gap: 20px; 
    justify-content: center;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    gap: 10px;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.5); 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
    gap: 10px;
}

button {
    background-color: rgb(255, 183, 0);
    box-shadow: 0 0 10px rgba(246, 241, 241, 0.1);
    border-radius: 15px;
    color: #ffffff;
    border: 1px solid #ccc; 
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

input {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    padding: 15px; /* Aumenta el tamaño del input */
    font-size: 16px; /* Aumenta el tamaño de la fuente */
    width: calc(100% - 32px); /* Ajusta el ancho teniendo en cuenta el padding */
}

.head {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 5vh;
    color:  rgb(255, 183, 0);
    font-family: 'Roboto', sans-serif;
}
